.container {
    display: flex; /* Centra el formulario horizontalmente */
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ocupa toda la altura del viewport */
  }

.card {
    background-color: #fff; /* Fondo blanco */
    border: none; /* Quita el borde por defecto */
    border-radius: 5px; /* Añade bordes redondeados */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Añade una sombra sutil */
}

.card-title {
    font-weight: bold; /* Resalta el título */
    margin-bottom: 15px; /* Añade espacio inferior */
  }

.card-text {
    color: #888; /* Color del texto grisáceo */
    margin-bottom: 20px; /* Añade espacio inferior */
}

label {
    margin-bottom: 5px;
    font-weight: bold; /* Resalta las etiquetas */
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="date"] {

  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 15px;
}


.btn-primary {
    background-color: #277dff; /* Color de fondo del botón */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px; /* Separa el botón del formulario */
}

.btn-primary:hover {
    background-color: #45a049;
}

.btn-success {
    background-color: #4CAF50; /* Color de fondo del botón */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px; /* Separa el botón del formulario */
}

.btn-success:hover {
    background-color: #45a049;
}


#togglePassword {
    background-color: transparent; /* Fondo transparente */
    border: none;
    cursor: pointer;
    margin-left: 10px; /* Separa el botón del campo de contraseña */
}

a:hover {
    background-color: #eee;
}