/* Estilo general del formulario */
form {
    width: 500px; /* Ajustar el ancho según sea necesario */
    margin: 0 auto; /* Centrar el formulario en la página */
    padding: 20px;
    
    border-radius: 5px;

  }
  
  /* Etiquetas de los campos */
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  /* Campos de entrada */
  input[type="razon_social"],
  input[type="direccion"],
  input[type="correo"],
  input[type="nit"],
  input[type="rut"],
  input[type="telefono"],
  input[type="descripcion"],
  input[type="contrasena"],
  input[type="confirmación_contrasena"],
  textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Incluir el relleno y el borde en el ancho */
  }
  
  /* Botón de envío */
  input[type="submit"] {
    background-color: #4CAF50; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Estado de foco para los campos de entrada */
  input[type="razon_social"]:focus,
  input[type="direccion"]:focus,
  input[type="correo"]:focus,
  input[type="nit"]:focus,
  input[type="rut"]:focus,
  input[type="telefono"]:focus,
  input[type="descripcion"]:focus,
  input[type="contraseña"]:focus,
  input[type="confirmación_contraseña"]:focus,
  textarea:focus {
    outline: none; /* Eliminar el contorno predeterminado */
    border: 2px solid #4CAF50; /* Cambiar el color del borde al enfocarse */
  }
  
  /* Mensajes de error */
  .error {
    color: red;
    margin-bottom: 10px;
  }
  