/* Estilo general (sin cambios) */

.registro {
    background-color: #fff;
    padding: 50px 0;
    text-align: center;
    position: relative; /* Posicionamiento relativo para la sombra */
  }
  
  .contenedor-registro {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 30px;
    display: flex; /* Contenedor como flexbox */
    flex-direction: column; /* Alineación vertical */
    align-items: flex-end; /* Alineación a la derecha */
  }
  
  h2 {
    color: #4CAF50; /* Verde */
    font-size: 2.5em;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 1.2em;
    color: #666;
    margin-bottom: 40px;
  }
  
  /* Estilos de botones */
  .btn {
    display: inline-block;
    padding: 15px 30px;
    margin: 10px 0; /* Elimina el margen lateral */
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #45a049; /* Verde más oscuro */
  }
  
  .btn-postulante, .btn-empresa {
    background-color: #4CAF50; /* Verde */
    color: #fff;
  }
  
  .btn-postulante:hover, .btn-empresa:hover {
    background-color: #45a049; /* Verde más oscuro */
  }
  
  .btn-iniciar-sesion {
    background-color: #f76310; /* Naranja */
    color: #fff;
  }
  
  .btn-iniciar-sesion:hover {
    background-color: #F57C00; /* Naranja más oscuro */
  }
  
  .btn-regresar {
    background-color: #38ba9c; /* Verde agua */
    color: #fff;
  }
  
  .btn-regresar:hover {
    background-color: #2d927b; /* Verde agua más oscuro */
  }
  
  /* Animación de entrada (opcional, sin cambios) */
  
  .contenedor-registro {
    animation: entrada 1s ease-in-out;
  }
  
  @keyframes entrada {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  