{% extends "plantilla2.html" %}
{% load static %}
{% block content %}

    <!--<h1>Mis Ofertas</h1>
    <ul>
        {% for oferta in ofertas %}
            <li>
                <a href="{% url 'ver_postulantes' oferta.id %}">{{ oferta.titulo_cargo }}</a>
            </li>
        {% endfor %}
    </ul>-->
    
    <link rel="stylesheet" href="{% static 'css/mis_ofertas.css' %}">
    <body>
        <h1 class="titulo-ofertas text-center">Mis Ofertas</h1>
        
        <ul class="offer-list">
            {% for oferta in ofertas %}
                <li class="offer-card">
                    <a href="{% url 'ver_postulantes' oferta.id %}">{{ oferta.titulo_cargo }}</a>
                    <form method="get" action="{% url 'ver_seleccionados' oferta.id %}">
                        <button type="submit">Ver Seleccionados</button>
                    </form>
                    <form method="post" action="{% url 'eliminar_oferta' oferta.id %}">
                        {% csrf_token %}
                        <button type="submit" onclick="return confirm('¿Está seguro de que desea eliminar esta oferta?')">Eliminar</button>
                    </form>
                </li>
                <li>
                </li>
            {% endfor %}
            
        </ul>
    </body>
{% endblock %}

