{% extends "plantillas/plantilla_empresa.html" %}
{% load static %}
{% block content %}
    
    <h2>Postulantes Seleccionados para {{ oferta.titulo_cargo }}</h2>
    <ul>
        {% for seleccionado in seleccionados %}
            <li>
                <h3>{{ seleccionado.nombres }} {{ seleccionado.apellidos }}</h3>
                <p>Tipo de Documento: {{ seleccionado.tipo_documento }}</p>
                <p>Número de Documento: {{ seleccionado.numero_documento }}</p>
                <p>Contacto: {{ seleccionado.contacto }}</p>
            </li>
        {% endfor %}
    </ul>

{% endblock %}