{% extends "plantilla.html" %}
{% load static %}

{% block content %}

    <section class="sec" id ="about">
        <link rel="stylesheet" href="{% static 'css/nosotros.css' %}">
        <link rel="stylesheet" href="{% static 'css/mision_vision.css' %}">
        <div class="content">
        <div class='mxw800p'>
        <h3>Quienes Somos</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas quis molestias sunt ad placeat consequatur quae quibusdam recusandae, facilis voluptatem nihil suscipit sapiente voluptas, explicabo temporibus earum magni ipsam laboriosam enim dolor ullam? Maxime officia eius unde quod esse vero voluptatum voluptatem iure ullam eaque reprehenderit amet provident accusamus incidunt repellendus consectetur delectus, magnam vel molestiae hic dolore repellat assumenda.
        </p>
        <a href="#" class="btn2"btn> Saber más</a>
                    
        </div>


        <!-- mision-vision -->
        <div class="content mt-5" >
            <div class="mxw800p">
            <div class="services">
                <div class="box">
                    <div class="iconBx>">
                </div> 
                <div class="content">
                    <h2>Mision</h2>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet, quaerat?
                    </p>
                </div>
            </div>
            <div class="box">
                <div class="iconBx>">
                </div> 
                <div class="content">
                    <h2>Vision</h2>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet, quaerat?
                    </p>
                </div>
            </div>

    </section>
    



{% endblock %}