{% extends "plantillas/plantilla_postulante.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/nosotros.css '%}">
<link rel="stylesheet" href="{% static 'css/mision_vision.css' %}">
    <section class="sec" id ="about">
        <div class="content">
        <div class='mxw800p'>
        <h2>¿Quienes Somos?</h2>
        <div class="container">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas quis molestias sunt ad placeat consequatur quae quibusdam recusandae, facilis voluptatem nihil suscipit sapiente voluptas, explicabo temporibus earum magni ipsam laboriosam enim dolor ullam? Maxime officia eius unde quod esse vero voluptatum voluptatem iure ullam eaque reprehenderit amet provident accusamus incidunt repellendus consectetur delectus, magnam vel molestiae hic dolore repellat assumenda.
        </p></div>
        </div>

        


        <!-- mision-vision -->
        <div class="container" >
            <div class="mxw800p">
            <div class="services">
                <div class="box">
                    <div class="iconBx>">
                </div> 
                <div class="content">
                    <h2>Mision</h2>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet, quaerat?
                    </p>
                </div>
            </div>
            <div class="box">
                <div class="iconBx>">
                </div> 
                <div class="content">
                    <h2>Vision</h2>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet, quaerat?
                    </p>
                </div>
            </div>

    </section>
    


{% endblock %}