{% extends "paginas/plantilla.html" %}
{% load static %}
{% block content %}

        <div class="p-5 mb-5  rounded-3">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">Bienvenidos al registro de Equidad Laboral</h1>
                <p class="col-md-8 fs-4">
                    En este sistema podrá registrarse e iniciar sesión como postulante y/o empresa.
                </p>
                <a
                name=""
                id=""
                class="btn btn-primary bg-gradient btn-lg"
                href="{% url 'postulantelogin' %}"
                role="button"
                >Iniciar sesión como postulante</a"
                ></a>

                <a
                name=""
                id=""
                class="btn btn-primary bg-gradient btn-lg"
                href="{% url 'empresalogin' %}"
                role="button"
                >Iniciar sesión como empresa</a"
                ></a>

                <a
                name=""
                id=""
                class="btn btn-secondary bg-gradient btn-lg"
                href="{% url 'formularioEmpresa' %}"
                role="button"
                >Registrate como empresa</a"
                ></a>
    
                <a
                name=""
                id=""
                class="btn btn-secondary bg-gradient btn-lg"
                href="{% url 'formularioPostulante' %}"
                role="button"
                >Registrate como postulante</a"
                ></a>
    
                <a
                name=""
                id=""
                class="btn btn-success bg-gradient btn-lg"
                href="{% url 'welcome' %}"
                role="button"
                >Regresar</a"
                ></a>
            </div>
        </div>


{% endblock %}