{% extends "paginas/plantilla.html" %}
{% load static %}
{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<body>
  <section class="registro">
    <div class="contenedor-registro">
      <h2>Bienvenido al registro de Equidad Laboral</h2>
      <p>Tu espacio para encontrar oportunidades laborales que se ajusten a tus necesidades.</p>

      <div class="botones-registro">
        <a href="{% url 'formularioPostulante' %}" class="btn btn-postulante">Regístrate como postulante</a>
        <a href="{% url 'formularioEmpresa' %}" class="btn btn-empresa">Regístrate como empresa</a>
        <a href="{% url 'login' %}" class="btn btn-iniciar-sesion">Iniciar sesión</a>
      </div>

      <a href="{% url 'welcome' %}" class="btn btn-regresar">Regresar</a>
    </div>
  </section>

  <script src="script.js"></script>
</body>
</html>



{% endblock %}