

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width= , initial-scale=1.0">
    <title>Bienvenidos</title>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
    />

</head>

<body>

    <header class="header">

        {% load static %}
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <div class="logo">
            <a href="{% url 'welcome' %}"><img src="{% static 'img/logo_home.jpg' %}" alt="logo de la empresa"></a>
        </div>
        <nav>
            <ul class="nav-links">
                <li><a name="inicio" href="{% url 'welcome' %}">Inicio</a></li>
                <li><a href="{% url 'aboutus' %}">Sobre nosotros</a></li>
            </ul>
        </nav>
    </header>
    

    <!--Contenido cambiante-->

    {% block content %}


    {% endblock %}



    <!--footer-->
    <footer class="footer">
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/footer.css' %}">
        <ul class="social-icon">
            <li class="icon-elem">
                <a href="" class="icon">
                    <ion-icon name="logo-youtube"></ion-icon>
                </a>
            </li>
            <li class="icon-elem">
                <a href="" class="icon">
                    <ion-icon name="logo-instagram"></ion-icon>
                </a>
            </li>
            <li class="icon-elem">
                <a href="" class="icon">
                    <ion-icon name="logo-whatsapp"></ion-icon>
                </a>
            </li>
            <li class="icon-elem">
                <a href="" class="icon">
                    <ion-icon name="logo-facebook"></ion-icon>
                </a>
            </li>
            <li class="icon-elem">
                <a href="" class="icon">
                    <ion-icon name="mail-outline"></ion-icon>
                </a>
            </li>
        </ul>
        <ul class="menu">
            <li class="menu-elem">
                <a href="" class="menu-icon"> Inicio </a>
            </li>
            <li class="menu-elem">
                <a href="" class="menu-icon"> Equipo </a>
            </li>
            <li class="menu-elem">
                <a href="" class="menu-icon"> Contacto </a>
            </li>
            <li class="menu-elem">
                <a href="" class="menu-icon"> Sobre Nosotros </a>
            </li>
        </ul>
        <p class="text"> 2024 | Todos los derechos reservados</p>
    </footer>
    <script 
      type="module" 
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script 
       nomodule 
       src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
</body>

</html>