
{% extends "plantilla.html" %}
{% load static %}
{% block content %}


<!--<body>

<!DOCTYPE html>
<html>
<head>
    <title>Inicio - Empresa</title>
</head>
<body>

    <h2>Bienvenido, Empresa</h2>
    <p>Esta es la página principal para el rol de Empresa.</p>
    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Cerrar sesión</button>
    </form>

</body>-->

<link rel="stylesheet" href="{% static 'css/homeE.css' %}">
<body>

    <main>
        <section class="bienvenido">
            <h1>Bienvenido {{ username }}</h1>
            <p class="bienvenido-parrafo">Tu portal donde podras publicar tus ofertas laborales.</p>
        </section>

        <section class="opciones">
            <a href="{% url 'formularioOferta' %}" class="opciones-publicar">Publicar oferta laboral</a>
            <a href="{% url 'mis_ofertas' %}" class="opciones-mi-oferta">Ver ofertas laborales publicadas</a>
            <a href="#" class="opciones-ver-postulantes">Ver postulantes</a>

            <form method="post" action="{% url 'logout' %}">
             {% csrf_token %}
             <button type="submit" class="opciones-cerrar-sesion">Cerrar sesión</button>
            </form>
           
        </section>
    </main>

</body>

{% endblock %}


