{% extends "plantillas/plantilla_postulante.html" %}
{% load static %}
{% block content %}


    <!--<h1 class="titulo">Aplicar a {{ oferta.titulo_cargo }}</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Enviar aplicación</button>
    </form>-->

  

  <link rel="stylesheet" href="{% static 'css/aplicar_oferta.css' %}">
<body>
  <div class="container mt-5">
    <h1 class="titulo-aplicar animacion-titulo">Aplicar a {{ oferta.titulo_cargo }}</h1>

    <form method="post" class="formulario-aplicacion">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn-enviar">Enviar aplicación</button>
    </form>
  </div>

</body>
</html>

{% endblock %}