<!DOCTYPE html>
<html lang="es">
<head>
  {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BEEL</title>
    <link rel="stylesheet" href="{% static 'css/welcome.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
  <header>
    <nav>
      <div class="logo">
        <a href="/"><img src="{% static 'img/logo_home.jpg' %}" width="80px" height="80px"></a>
        <span>Equidad Laboral</span>
     </div>
    
       <ul>
            <li><a href="{% url 'welcome' %}">Inicio</a></li>
            <li><a href="/about">Acerca de</a></li>
            <li><a href="{% url 'login' %}">Inicia Sesion</a></li>
        </ul>
    </nav>
</header>

    <main>
        <section class="hero">
            <h1 class="animate__fadeInDown">Bienvenidos a Equidad Laboral</h1>
            <p class="animate__fadeInUp">Somos una bolsa de empleo donde empresas inclusivas publican sus ofertas laborales y personas con cierta discapacidad puedan encontrar su trabajo ideal.</p>
            <a href="{% url 'index' %}" class="btn animate__fadeInUp">REGISTRATE</a>
        </section>

        <section class="features">
            <h2 class="animate__fadeIn">Nuestras Características</h2>
            <div class="feature animate__slideInLeft">
                <i class="fas fa-wheelchair"></i>
                <h3>Accesibilidad</h3>
                <p>Ofrecemos empleos con condiciones accesibles para todos.</p>
            </div>
            <div class="feature animate__slideInRight">
                <i class="fas fa-briefcase"></i>
                <h3>Variedad de Empleos</h3>
                <p>Amplia gama de ofertas laborales en diferentes sectores.</p>
            </div>
            <div class="feature animate__slideInLeft">
                <i class="fas fa-heart"></i>
                <h3>Inclusión</h3>
                <p>Fomentamos un entorno laboral inclusivo y diverso.</p>
            </div>
        </section>
        
    </main>

    <footer>
      <p class="text">&copy; 2024 Bolsa de Empleo para Personas Discapacitadas. Todos los derechos reservados.</p>
    </footer>
</body>
</html>