/* Job Card Container */


.job-card {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out; /* Add transition for hover effect */
  }
  
  /* Job Card Hover Effect */
  .job-card:hover {
    transform: translateY(-5px); /* Animate card upward on hover */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); /* Enhance shadow on hover */
  }
  
  /* Job Card Header */
  .job-card-header {
    background-color: #f0f0f0;
    padding: 10px;
  }
  
  /* Job Card Title */
  .job-card-header h2 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    color: #333;
  }
  
  /* Company Name */
  .job-card-header p {
    margin: 5px 0;
    font-size: 16px;
    color: #666;
  }
  
  /* Job Card Body */
  .job-card-body {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
  }
  
  /* Job Details */
  .job-card-body p {
    margin: 5px 0;
  }
  
  /* Strong emphasis for labels */
  .job-card-body p strong {
    font-weight: bold;
    color: #333;
  }
  
  /* Animation for Title */
  .job-card {
    animation: job-card-aparecer 1.5s ease-in-out forwards;
  }

  @keyframes job-card-aparecer {
    0% {
        opacity: 0;
        transform: translateX(-50px);
      }
      50% {
        opacity: 1;
        transform: translateX(0);
      }
      100% {
        /* Add your animation styles here */
      }
    }

/* Button Styles */
.boton-aplicar button {
    background-color: orangered; /* Example green color */
    color: #fff;
    border: none;
    padding: 10px 15px;
    margin-left: 57.5rem;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.boton-aplicar button:hover {
    background-color: rgb(223, 59, 0); /* Example green color on hover */
  }


/* Animation for Title */
.titulo-ofertas{
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 25px;
    font-size: 2.8rem;
    color: #4CAF50;
    animation: titulo-aparecer 1s ease-in-out; /* Add animation */
}

  
  @keyframes titulo-aparecer{
    from {
      opacity: 0; /* Start hidden */
      transform: translateY(50px); /* Start above the viewport */
    }
    to {
      opacity: 1; /* End visible */
      transform: translateY(0); /* End in original position */
    }
  }


  